# -----------------------------------------------------------------------------
# Git
# -----------------------------------------------------------------------------
.git
.github

# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------------------------------------------------------
# Virtual Environments
# -----------------------------------------------------------------------------
venv/
.venv/
env/

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Tests
# -----------------------------------------------------------------------------
tests/

# -----------------------------------------------------------------------------
# Documentation
# -----------------------------------------------------------------------------
README.md
LICENSE

# -----------------------------------------------------------------------------
# Build
# -----------------------------------------------------------------------------
dist/
build/
*.egg-info/

# -----------------------------------------------------------------------------
# Environment
# -----------------------------------------------------------------------------
.env
.env.*

# -----------------------------------------------------------------------------
# Docker
# -----------------------------------------------------------------------------
Dockerfile
.dockerignore

# -----------------------------------------------------------------------------
# Misc
# -----------------------------------------------------------------------------
*.log